
@font-face {
    font-family: "TTnorms";
    src: url("../fonts/TTNorms-Regular.otf");
}
@font-face {
    font-family: "TTnorms Medium";
    src: url("../fonts/TTNorms-Medium.otf");
}
@font-face {
    font-family: "TTnorms Light";
    src: url("../fonts/TTNorms-Light.otf");
}
@font-face {
    font-family: "Times Roman Italic";
    src: url("../fonts/Times-new-roman-italic.ttf");
}


html {
    box-sizing: border-box;
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }

body{
    font-family: TTnorms;
}
.conteiner{
max-width: 80rem;
margin-left:auto ;
margin-right: auto;
padding-left: 1rem;
padding-right: 1rem;
}
@media screen and (max-width:1200px) {
    .conteiner{
        max-width: 960px;
    }
}
@media screen and (max-width:992px) {
    .conteiner{
        max-width: 720px;
    }
}
@media screen and (max-width:768px) {
    .conteiner{
        max-width: 540px;
    }
}
@media screen and (max-width:576px) {
    .conteiner{
        max-width: 100%;
    }
}
.header{
}
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding: 1.5rem 0;
}
.nav{
display: flex;
align-items: center;
}
.nav-logo{
margin-right: 2rem;
}
.nav__img{

}
.menu{
list-style-type: none;
padding-left: 0;
margin: 0;
display: flex;
}
.menu__item{

}
.menu__link{
text-decoration: none;
color: #081d43;
padding: 0 1rem;
}
.header__link{
background-color: #0050CB;
color: #fff;
text-decoration: none;
padding: 0.8rem 1.5rem;
border-radius: 0.5rem;
}
.header-bottom{
margin-top: 6rem;
}
.row{
 display: flex;   
 align-items: center;
}
.header-content-left{
flex-basis: 50%;
}
.header-content__tittle{
color: #081d43;
font-family: TTnorms;
font-weight: 700;
line-height: 2.5rem;
}
.header-content__text{
color: #6C7890;
line-height: 2rem;
}
.header-content__links{
display: flex;
margin-top: 1.5rem;
}
.header-content__link{
    display: block;
    width: 10rem;
    text-align: center;
 background-color: #0050CB;
color: #fff;
text-decoration: none;
padding: 0.8rem 1.5rem;
border-radius: 0.5rem;
margin-right: 0.8rem;
}
.header-content-right{
    flex-basis: 50%;

}
.header-content__wrapper{
    max-width: 28rem;
}
.header-content__img{
width: 100%;
}
.main{
padding: 5rem 0;
}
.conteiner{
}
.work{
text-align: center;
}
.works__text{
    color: #6C7890;
    margin-bottom: 0;
}
.works__tittle{
    color: #081D43;
 margin-top: 0.8rem;
}
.works-content{
margin-top: 3rem;
display: flex;
justify-content: space-around;
margin-bottom: 3rem;
}
.works-content__item{

}
.works-content__tittle{
color: #081D43;
}
.works-content__text{
color: #6C7890;
line-height: 2rem;
max-width: 16rem;
}
.works-img{
    max-width: 31rem;
margin: 0 auto;
}
.works-img__img{
    width: 100%;
}






